{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' with metatitle="BE Papers | DJ ACM" metadescription="" %}
  </head>

  <body>

    <!-- Fixed navbar -->
    {% include 'navbar.html' %}
    <!-- //Fixed navbar-->
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>B.E. PROJECTS</b></h1>
				<h2>A Platform to view and upload projects</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<h4>UPLOAD</h4>
				<p>Share  your  projects  and  let  the  world  know  about  your  skill  set</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<h4>VIEW</h4> 
				<p>Read  technical  papers  and  get  inspired  to write  your  own.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<h4>CONTACT</h4>
				<p>Find  project  collaborators  and mentors  based  on  their  skills.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>GET   STARTED </h2>
					<p><h7>Create, Upload and View is all that it takes</h7></p>
				</div>
				<br><br>
		</div><!-- container -->
	</div><!-- DG -->
			</div><!-- row -->
    {% include 'footer.html'}
  </body>
</html>
