
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    

        {% include 'head.html' with metatitle='Add a new project | DJ ACM' %}
        <title>DJ ACM</title>

  <style type="text/css">
        <style type="text/css">
    input,textarea{
        float:right;
      }
      label,strong,p{
        float:left;
      }
 
    </style>



    </head>

    <body>



            <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'index' %}"><img src="{% static 'img/acm.png' %}" style = "float:left; width:6%; height:6%;"></a>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
        <li class="active" >
          <a href="/register/">REGISTER</a>
        </li>
        
            <li  >
          <a href="/sign-in/">SIGN-IN</a>
        </li>
      </ul>
    
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>
          <div class="container w" >
  <div class = "row centered" style="margin-left:33% ; margin-right:33%; margin-top:60px; max-width:100%">

        {% if registered %}
         <strong>Thank you for registering!</strong>
        <a href="/home/">Return to the homepage.</a><br/>
        {% else %}
        <!--<strong>Register here!</strong><br />-->
	<form id="user_form" method="post" action="{% url 'add-user' %}">
            {% csrf_token %}
            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
                 <div class = "form-group row">
                {{ user_form.as_p }}
                </div>
                <div class = "form-group row">
	           {{ profile_form.as_p }}
               </div>
               <br>
               <div class = "form-group row">
        <button type="submit" name="submit" value="REGISTER"  class="btn btn-lg btn-primary" style="margin-left:220px">Submit</button>
            </div>
        </form>
                {% endif %}
        </div>


        </div>
<br/>
<br/>




         <div id="r">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4> REGISTER WITH DJ ACM</h4>
                    <p></p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
