{% load staticfiles %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        {% include 'head.html' with metatitle='Add a new project | DJ ACM' %}
        <title>DJ ACM</title>
    </head>
    <style type="text/css">
    input,textarea{
        float:right;
      }
      label,strong,p{
        float:left;
      }

      #r{
          position: fixed;
          bottom: 0px;
          width: 100%;
      }

    </style>



    <body>
    





            <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'index' %}"><img src="{% static 'img/acm.png' %}" style = "float:left; width:6%; height:6%;"></a>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
        <li  >
          <a href="/register/">REGISTER</a>
        </li>
        
            <li  class="active">
          <a href="/sign-in/">SIGN-IN</a>
        </li>
      </ul>
    
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>



<!--

    <div id="blue">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                <h4>LOGIN to DJ ACM BE PAPERS</b></h4>
                                </div>
            </div><!-- row -->
     
     <!--   </div>--><!-- container -->
   <!-- </div>--><!-- blue wrap -->



        <!--<h1>Login to DJ ACM BE PAPERS</h1>-->
          <div class="container w" >
  <div class = "row centered" style="margin-left:33% ; margin-right:33%; margin-top:60px; max-width:100%">

        <form id="login_form" method="post" action="/sign-in/">

            {% csrf_token %}
            <div class = "form-group row">
           <strong> Username:</strong > 
           <input type="text" name="username" value="" size="40"  id="username" class= "input-lg"/>
           </div>
           <br>
           <div class="form-group row">
           <strong>Password:</strong >
           <input type="password" name="password" value="" size="40" id="password" class= "input-lg"/>
           </div>
           <br>
           <br>
          <div class = "form-group row">
            <button type="submit" value="SUBMIT" class="btn btn-lg btn-primary">Submit</button>
          </div>
        </form>
      </div>
</div>

    <div id="r">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4> LOGIN to DJ ACM BE PAPERS </h4>
                    <p></p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>
     <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>

    </body>
</html>
